// src/styles/index.scss

// design tokens
@import "./variables";

// Typography
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: $color-bg;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 0 0 $spacing-md;
}

a {
  text-decoration: none;
  color: inherit;
}

// Utility Classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}
